#root {
  min-width: 360px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.animation_600 {
  animation-timeline: view() !important;
  animation-range: 0 600px !important;
  scale: 0.8;
  opacity: 0;
  animation: fadeIn linear forwards;
}

.animation_300 {
  animation-timeline: view() !important;
  animation-range: 0 300px !important;
  scale: 0.8;
  opacity: 0;
  animation: fadeIn linear forwards;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
